* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2";
}
* ::-webkit-scrollbar {
  display: none;
  background: #1c1f2c;
  font-family: "Baloo 2";
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main header {
  background-color: #526e7a;
  color: rgba(183, 214, 220, 0.5490196078);
  padding: 7px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main header div.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main header div.title h1 {
  font-family: "Baloo 2", cursive;
  font-size: 26px;
  margin-left: 10px;
}
main header button {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  cursor: pointer;
  padding: 7px;
}
main div.container {
  background-color: #1c1f2c;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
main div.container div.user-window {
  width: 350px;
  color: white;
  background-color: #3f3f3f;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 20px;
  /* Fullscreen image styles */
  /* Close button styles */
}
main div.container div.user-window div.user-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border: 33px;
  background-color: #526e7a;
  border-radius: 15px;
  /* width: 199px; */
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
main div.container div.user-window div.user-head h4 {
  background-color: #32b929;
  padding: 0 12px;
  border-radius: 50px;
}
main div.container div.user-window div.user-head h3 {
  font-size: 12px;
}
main div.container div.user-window div.user-list p {
  font-size: px;
  font-weight: 500;
  margin-bottom: 15px;
  overflow-wrap: break-word;
}
main div.container div.user-window div.user-list {
  font-size: 12px;
  background-color: #313334;
  /* border: 22px black; */
  border-radius: 11px;
  padding: 6px;
}
@media (max-width: 396px) {
  main div.container div.user-window div.user-list p {
    font-size: 9px;
  }
  main div.container div.user-window div.user-list {
    font-size: 13px;
    background-color: #313334;
    /* border: 22px black; */
    border-radius: 11px;
    padding: 6px;
  }
  main div.container div.user-window div.user-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border: 33px;
    background-color: #526e7a;
    border-radius: 15px;
    /* width: 199px; */
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  main div.container div.user-window div.user-head h4 {
    background-color: #32b929;
    padding: 0 4px;
    border-radius: 50px;
    font-size: 10px;
  }
  main div.container div.user-window div.user-head h3 {
    font-size: 9px;
  }
}
main div.container div.user-window .qrcode {
  display: grid;
  text-align: center;
  padding: 20px;
  margin-top: 190px;
  border-radius: 8px;
  box-shadow: 11px 8px 4px 2px rgba(0, 0, 0, 0.1);
  background-color: #2f2f2f;
  /* position: relative; */
  width: -moz-max-content;
  width: max-content;
  left: -12px;
  /* display: grid; */
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  width: auto;
}
main div.container div.user-window #join {
  font-size: 22px;
  font-family: "Baloo 2";
  top: -10px;
  position: relative;
}
main div.container div.user-window img.qrimage {
  height: 100px;
  width: 100px;
  cursor: zoom-in;
  transition: transform 0.3s ease;
  border-radius: 4px;
}
main div.container div.user-window .fullscreen {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  z-index: 1000; /* Make sure it's on top */
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}
main div.container div.user-window #fullscreen-img {
  max-width: 280px;
  max-height: 90%;
  transition: 0.5s ease-in-out;
}
main div.container div.user-window .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
@media (max-width: 453px) {
  main div.container div.user-window #join {
    font-size: 13px;
    font-family: "Baloo 2";
    top: -9px;
    position: relative;
    background-color: #9e2727;
    padding: 3px;
    border-radius: 12px;
  }
  main div.container div.user-window img.qrimage {
    height: 35px;
    width: 35px;
    cursor: zoom-in;
    transition: transform 0.3s ease;
    border-radius: 2px;
    /* margin-right: 8px; */
    padding-right: -2px;
    position: relative;
    left: -3px;
  }
}
main div.container div.chat-window {
  width: 100%;
  border-radius: 10px;
  background-color: #3f3f3f;
}
main div.container div.chat-window div.chats {
  height: 65vh;
  padding: 20px;
  overflow-y: auto;
}
main div.container div.chat-window div.chats div.user-join {
  font-size: 0.8rem;
  color: #3f3f3f;
  background-color: aliceblue;
  border-radius: 53px;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 4px;
  margin-bottom: 12px;
}
main div.container div.chat-window div.chats #joined {
  font-size: 12.4px;
}
main div.container div.chat-window div.message {
  color: #3f3f3f;
  /* background-color: #1c1f2c; */
  color: rgba(255, 255, 255, 0.6705882353);
  background-color: #252837;
  padding: 0px 22px;
  max-width: 189px;
  margin-bottom: 15px;
  border-radius: 4px 4px 2px 5px;
  margin-top: 35px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 269px;
  padding-right: 0px;
}
main div.container div.chat-window div.message p {
  font-size: 13px;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  padding-top: 4px;
  /* display: grid; */
  display: flex;
  /* justify-content: left; */
  /* align-content: start; */
  position: relative;
  left: -18px;
  margin-left: auto;
  text-align: left;
  font-family: "Baloo 2";
  padding: 0px;
}
main div.container div.chat-window div.message .timestamp {
  font-size: 7px;
  color: #cfc7c7;
  margin-left: 10px;
  padding-bottom: 0px;
  position: relative;
  left: -4px;
  top: 0px;
  display: grid;
  justify-content: end;
}
main div.container div.chat-window div.message #user-name {
  position: relative;
  left: -20px;
  top: -22px;
}
main div.container div.chat-window div.outgoing {
  margin-left: auto;
  color: white;
  background-color: #526e7a;
  border-radius: 4px 10px 0px 4px;
  text-align: right;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 0px;
}
main div.container div.chat-window div.outgoing .timestamp {
  justify-content: end;
  font-size: 7px;
  color: #cfc7c7;
  margin-left: 10px;
  padding-bottom: 0px;
  position: relative;
  bottom: -3px;
  position: relative;
  left: -2px;
  top: 0px;
  display: grid;
}
main div.container div.chat-window div.outgoing p {
  padding-bottom: 0px;
  font-size: 13px;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  padding-top: 0px;
  /* display: grid; */
  display: flex;
  /* justify-content: left; */
  /* align-content: start; */
  position: relative;
  left: -18px;
  margin-left: auto;
  text-align: left;
  padding-left: 5px;
  font-family: "Baloo 2";
}
main div.container div.chat-window div.outgoing #user_name {
  position: relative;
  left: -3px;
  top: -20px;
}
main div.container div.user-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}
main div.container div.user-input input {
  font-size: 16px;
  background-color: white;
  padding: 3px 16px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 50px 0 0 50px;
  overflow-wrap: break-word;
}
main div.container div.user-input button {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  color: white;
  background-color: #262222;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  main {
    width: 95%;
  }
  main header button {
    display: block;
  }
  main div.container div.user-window {
    position: absolute;
    top: 0;
    left: 144px;
    width: 100%;
    border-radius: 0 0 13px 13px;
    background-color: #3a4750;
    height: -moz-max-content;
    height: max-content;
    z-index: 11;
    box-shadow: 0 15px 23px -17px black;
    padding-bottom: 0;
    display: none;
    width: 30%;
    width: 31px;
    margin-top: 85px;
    cursor: pointer;
    width: -webkit-fill-available;
    padding-left: 7px;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-right: 7px;
    /* width: 105px; */
    width-left: 3px;
  }
  main div.chat-window div.chats div.message {
    max-width: 300px;
  }
}
#user_name {
  margin-bottom: -16px;
  font: 12px;
  top: -20px;
  position: relative;
  /* left: 14px; */
  /* bottom: 66px; */
  color: white;
  left: -20px;
  padding: -2px;
  font-weight: bolder;
  font-size: 14px;
  font-family: "Baloo 2";
}

#unique {
  margin-bottom: 4px;
  font-style: normal;
  font-family: "Baloo 2";
}/*# sourceMappingURL=styles.css.map */