$light-blue:#2791cf;
$light-grey: #7E878c;
$dark-grey: #3f3f3f;
$white: #ffff;

$font-heading: 'Baloo 2', cursive;
$fsize: 16px;

@mixin flexing($fd,$jc,$ai)
{
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2';
    ::-webkit-scrollbar{
        display: none;
        background: #1c1f2c;
        font-family: 'Baloo 2';
    }
   


    

}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    

    header{
        background-color: #526e7a;
        color: #b7d6dc8c;
        padding: 7px 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 2px;
        font-size: 10px;
        
        @include flexing(row,space-between, center);

        div.title{
            @include flexing(row,flex-start, center);
            h1{
                font-family: $font-heading;
                font-size: 26px;
                margin-left: 10px;
            }
        }
        button{
            background-color:transparent;
            border: none;
            outline: none;
            display: none;
            cursor: pointer;
            padding: 7px;
        }


    }
    div.container
    {
        background-color: #1c1f2c;
        padding: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @include flexing(row,flex-start ,stretch );

        div.user-window
        {
            width: 350px;
            color: $white;
            background-color: $dark-grey;
            padding: 15px 20px;
            border-radius: 10px;  
            margin-right: 20px;
            div.user-head
            {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                border: 33px;
                background-color: #526e7a;
                border-radius: 15px;
                /* width: 199px; */
                padding: 3px;
                @include flexing(row,space-between ,center);
                margin-bottom: 15px;
                h4
                {
                    background-color: #32b929;
                    padding: 0 12px;
                    border-radius: 50px;
                }
                h3{
                    font-size: 12px;
                }
                
            }  
            div.user-list p{
                font-size: px;
                font-weight: 500;
                margin-bottom: 15px;
                overflow-wrap: break-word;
            }
            div.user-list{
                font-size: 12px;
                background-color: #313334;
                /* border: 22px black; */
                border-radius: 11px;
                padding: 6px;
            }

            @media (max-width: 396px) {
                div.user-list p{
                font-size: 9px;
                }

                div.user-list{
                    font-size: 13px;
                    background-color: #313334;
                    /* border: 22px black; */
                    border-radius: 11px;
                    padding: 6px;
                }


                div.user-head
            {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                border: 33px;
                background-color: #526e7a;
                border-radius: 15px;
                /* width: 199px; */
                padding: 3px;
                @include flexing(row,space-between ,center);
                margin-bottom: 15px;
                h4
                {
                    background-color: #32b929;
                    padding: 0 4px;
                    border-radius: 50px;
                    font-size: 10px;
                }
                h3{
                    font-size: 9px;
                }
                
            }
            }
            















            .qrcode {
                display: grid;
                text-align: center;
                padding: 20px;
                margin-top: 190px;
                border-radius: 8px;
                box-shadow: 11px 8px 4px 2px rgba(0, 0, 0, 0.1);
                background-color: #2f2f2f;
                /* position: relative; */
                width: max-content;
                left: -12px;
                /* display: grid; */
                /* justify-content: center; */
                align-items: center;
                justify-content: center;
                width: auto;


            
            }
            
            
            #join{
                font-size: 22px;
                font-family: 'Baloo 2';
                top: -10px;
                position: relative;
            }

           













                img.qrimage{
                    height: 100px;
                    width: 100px;
                    cursor:-webkit-zoom-in;
                    cursor: zoom-in;
                    transition: transform 0.3s ease;
                    border-radius: 4px;
                    
                }



                .fullscreen {
                    display: none; /* Hidden by default */
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
                    z-index: 1000; /* Make sure it's on top */
                    justify-content: center;
                    align-items: center;
                    transition: opacity 0.3s ease;
                }
                
                /* Fullscreen image styles */
                #fullscreen-img {
                    max-width: 280px;

                    max-height: 90%;
                    transition: .5s ease-in-out;
                }
                
                /* Close button styles */
                .closebtn {
                    position: absolute;
                    top: 10px;
                    right: 25px;
                    font-size: 36px;
                    font-weight: bold;
                    color: white;
                    cursor: pointer;
                }



                @media (max-width: 453px){

                    #join{
                        font-size: 13px;
                        font-family: "Baloo 2";
                        top: -9px;
                        position: relative;
                        background-color: #9e2727;
                        padding: 3px;
                        border-radius: 12px;
                    }

                    img.qrimage{
                        height: 35px;
                        width: 35px;
                        cursor: zoom-in;
                        transition: transform 0.3s ease;
                        border-radius: 2px;
                        /* margin-right: 8px; */
                        padding-right: -2px;
                        position: relative;
                        left: -3px;
                        
                    }


                    
    
                    
    
                }

           








        }
        div.chat-window{
            width: 100%;
            border-radius: 10px;
            background-color: #3f3f3f;
            div.chats{
                height: 65vh;
                padding: 20px;
                overflow-y: auto;
                div.user-join{
                    font-size: 0.8rem;
                    color: #3f3f3f;
                    background-color: aliceblue;
                    border-radius: 53px;
                    width: max-content;
                    margin: 0 auto;
                    padding: 4px;
                    margin-bottom: 12px;

                }
                #joined{
                    font-size: 12.4px;
                }
                
                }
                div.message{
                    color: #3f3f3f;
                    /* background-color: #1c1f2c; */
                    color: #ffffffab;
                    background-color: #252837;
                    padding: 0px 22px;
                    max-width: 189px;
                    margin-bottom: 15px;
                    border-radius: 4px 4px 2px 5px;
                    margin-top: 35px;
                    width: -moz-fit-content;
                    width: fit-content;
                    max-width: 269px;
                    padding-right: 0px;
                    
                    p{
                        font-size: 13px;
                        overflow-wrap: break-word;
                        overflow-wrap: anywhere;
                        padding-top: 4px;
                        /* display: grid; */
                        display: flex;
                        /* justify-content: left; */
                        /* align-content: start; */
                        position: relative;
                        left: -18px;
                        margin-left: auto;
                        text-align: left;
                        font-family: 'Baloo 2';
                        padding: 0px;
                    }
                    .timestamp {
                        font-size: 7px;
                        color: #cfc7c7;
                        margin-left: 10px;
                        padding-bottom: 0px;
                        position: relative;
                        left: -4px;
                        top: 0px;
                        display: grid;
                        justify-content: end;
                    }
                    #user-name{
                        position: relative;
                        left: -20px;
                        top: -22px;

                    }
                    
                    

                }
                    div.outgoing{
                        margin-left: auto;
                        color: white;
                        background-color: #526e7a;
                        border-radius: 4px 10px 0px 4px;
                        text-align: right;
                        width: -moz-fit-content;
                        width: fit-content;
                        padding-right: 0px;

                        .timestamp {
                            justify-content: end;
                            font-size: 7px;
                            color: #cfc7c7;
                            margin-left: 10px;
                            padding-bottom: 0px;
                            position: relative;
                            bottom: -3px;
                            position: relative;
                            left: -2px;
                            top: 0px;
                            display: grid;
                    
                            }
                            p{
                                padding-bottom: 0px;
                                font-size: 13px;
                                overflow-wrap: break-word;
                                overflow-wrap: anywhere;
                                padding-top: 0px;
                                /* display: grid; */
                                display: flex;
                                /* justify-content: left; */
                                /* align-content: start; */
                                position: relative;
                                left: -18px;
                                margin-left: auto;
                                text-align: left;
                                padding-left: 5px;
                                font-family: 'Baloo 2';
                            }
                    #user_name{
                        
                        position: relative;
                        left: -3px;
                        top: -20px;
                        
                    }



                    }

                

             
            }
            div.user-input{
                @include flexing(row,space-between ,stretch );
                padding: 20px;
                input{
                        font-size: 16px;
                        background-color: white;
                        padding: 3px 16px;
                        outline: none;
                        border: none;
                        width: 100%;
                        border-radius: 50px 0 0 50px;
                        overflow-wrap: break-word;
                }
                button{
                    font-size: $fsize;
                    font-weight: 600;
                    padding: 5px 15px;
                    border: none;
                    outline: none;
                    letter-spacing: 0.5px;
                    color: $white;
                    background-color:#262222;
                    border-radius: 0 50px 50px 0;
                    cursor: pointer;
                }


            }

        }
    }

@media screen and (max-width: 900px){
     main{
        width: 95%;
        header{
            button{
                display: block;
            }
        }
        div.container{
            div.user-window{
                position: absolute;
        top: 0;
        left: 144px;
        width: 100%;
        border-radius: 0 0 13px 13px;
        background-color: #3a4750;
        height: -moz-max-content;
        height: max-content;
        z-index: 11;
        box-shadow: 0 15px 23px -17px black;
        padding-bottom: 0;
        display: none;
        width: 30%;
        width: 31px;
        margin-top: 85px;
        cursor: pointer;
        width: -webkit-fill-available;
        padding-left: 7px;
        padding-top: 16px;
        padding-bottom: 15px;
        padding-right: 7px;
        /* width: 105px; */
        width-left: 3px;
            }
                
                
            }
            div.chat-window{
                div.chats{
                    div.message{
                        max-width: 300px;
                    }
                }
            }
        }

     }

//      .timestamp {
//         font-size: 10px;
//         color: #e2dbdb;
//         margin-left: 10px;
//         padding-bottom: 0px;
//         position: relative;
//         bottom: -41px;
//         left: 12px;
//         position: relative;
//         left: -62px

// }

#user_name{
    margin-bottom: -16px;
    font: 12px;
    top: -20px;
    position: relative;
    /* left: 14px; */
    /* bottom: 66px; */
    color: white;
    left: -20px;
    padding: -2px;
    font-weight: bolder;
    font-size: 14px;
    font-family: "Baloo 2";
}



#unique{
    margin-bottom: 4px;
    font-style: normal;
    font-family: 'Baloo 2';
}
    
